services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5005:5000"
    volumes:
      - ./data:/app/data
    environment:
      - NODE_ENV=production
      - PORT=5000
      - SESSION_SECRET=${SESSION_SECRET:-some-secure-secret}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY:-default-secure-key}
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3005:80"
    depends_on:
      - api
    restart: always
